#if($list && $list.size() > 0)
<style>
.widget.message {
	position: absolute;
	max-height: 200px;
	background: #eee;
	color: #000;
	background-color: #fff9c9;
	border: 1px solid #c7bf93;
	border-radius: 4px;
	z-index: 1000;
	min-width: 50px;
	max-width: 300px;
	padding: 5px 10px;
	line-height: 22px;	
}
.widget.message ul {
	list-style: none;
	padding: 0;
    margin: 0;	
}
.widget.message a.r{
	color: #f33;
}	
</style>
<div class='widget message'>
	<ul>
	#foreach($p in $list)
		<li>$p</li>
	#end
	</ul>
</div>
#end