
<div class='head'>$lang.get('message.send.title')</div>

<form action='/message/send'  method='post' class='form' enctype="multipart/form-data">
	<input type='hidden' name="reply" value="$!reply" />
	<input type='hidden' name="forward" value="$!forward" />
	
	<div><label><h3>$lang.get('message.to')(<r>*</r>):</h3>
		#if($to)
		<input type='hidden' name='to' value='$to'/><i>$to_obj.nickname</i>
		#else
		<select name="to" required>
			#foreach($u in $users)
			<option value='$u.id' #if($to == $u.id) selected #end>$!u.name</option>
			#end
		</select>
		#end
		</label></div>
	<div><label><h3>$lang.get('message.category')</h3>:<input type='text' name='category' value="$!category"/></label></div>
	<div><label><h3>$lang.get('message.title')</h3>:<input type='text' name='title' value="$!title"/></label></div>
	<div><label><h3>$lang.get('message.content'):</h3><textarea name='content'>$!content</textarea></label></div>

	<button type='submit'>$lang.get('btn.send')</button>
</form>

