
<div class='head'>$lang.get('message.detail.title')</div>

<div class='tabs'>
	<a href='/admin/message' >$lang.get('a.message')</a>
	<a href='/admin/message/detail?id=$id' class='selected'>$lang.get('a.detail')</a>
</div>

<p><b>Id:</b>$m.id</p>
<p><b>$lang.get('message.to'):</b>$!m.to, $!m.to_obj.name, $!m.to_obj.nickname</p>
<p><b>$lang.get('message.from'):</b>$!m.from, $!m.from_obj.name, $!m.from_obj.nickname</p>
<p><b>$lang.get('message.flag'):</b>$!m.flag</p>
<p><b>$lang.get('message.category'):</b>$!m.category</p>
<p><b>$lang.get('message.title'):</b>$!m.title</p>
<p><b>$lang.get('message.content'):</b>$!m.content</p>
<p><b>$lang.get('message.created'):</b>$lang.format($m.created, 'yyyy-MM-dd HH:mm:ss')</p>
